# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.00_GamePrototype.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../:\Workspace\Proyectos Personales\Unity\00_GamePrototype\.idea\.idea.00_GamePrototype\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
